<h2>Episodios Rick and Morty</h2>

<p>Total cargados: {{ episodes.length }}</p>
<div class="loading" *ngIf="isLoading">

  <mat-spinner diameter="50"></mat-spinner>

  <p>Cargando episodios...</p>

</div>

<div class="error" *ngIf="errorMessage">

  {{ errorMessage }}

</div>

<div class="contenedor" *ngIf="!isLoading && !errorMessage">
  <mat-card class="tarjeta" *ngFor="let episode of episodes">
    <mat-card-header>
      <mat-card-title>{{ episode.name }}</mat-card-title>
      <mat-card-subtitle>{{ episode.episode }}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p><b>Fecha emisión:</b> {{ episode.air_date }}</p>
      <p><b>Personajes:</b> {{ episode.characters.length }}</p>
    </mat-card-content>
  </mat-card>
</div>
<div class="paginador">
  <mat-paginator
    [length]="totalEpisodes"
    [pageSize]="pageSize"
    [pageIndex]="currentPage"
    [hidePageSize]="true"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>